body {
	background-image: url("../images/intersection.png");
}

#jt-color {
	font-weight: 700;
	background-color: #428bca;
	border-color: #428bca;
}

#bg-color {
	color: white;
	background-color: #428bca;
}

#correct-border {
	border-color: #428bca;
}

#train {
	width:100%	
}

.row-btm-brdr{
	padding-bottom: 1%;
	border-bottom: 1px solid #848d95;
}

input {
	width: 100%;
	margin-bottom: 1%;
}
/*work on these rounded input box corners
*/.form-control {
	border-radius: 3px;	
}
